.home_choose_button {
    width:500px;
    height: 130px;
    background-color: #6E91F1;
    font-size: 50px;
    border-radius: 40px;
    border:none;
    color:white;
}

.button {
    cursor: pointer;
    background-color: #6E91F1;
    border:none;
    color:white;
    
    &_home_choose {
        border-radius: 40px;
        width:500px;
        height: 130px;
        font-size: 50px;
        border-radius: 40px;
    }

    &_regular {
        @extend .button;
        width:100%;
        height: 50px;
        font-size: 14px;
        border-radius: 10px;
    }
    &_regular_dark {
        @extend .button;
        width:100%;
        height: 50px;
        font-size: 14px;
        border-radius: 10px;
        background-color: #5C5C5C;
    }
}