.dashboard {
    background-color: white;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    
    &_rooms_section_container {
        background-color: red;
        height:100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding:20px;
        background-color: #D9D9D9;

        &_header {
            background-color: #4f4f4f;
            width:80%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    &_rooms_container {
        height:80%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.dashboard_header {
    width: 100%;
    height: 110px;
    background-color: #D9D9D9;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &_info {
        width: 200px;
        height:100%;
        position: absolute;
        right:0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        column-gap:10px;

        span {
            margin-left:10px;
            cursor:pointer;
        }
    }

    h2 {
        text-align: center;
        margin:0;
    }
}

.dashboard_footer {
    height:400px;
}