.chat {
    height:100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.chat_input_wrapper {
    position: relative;
    background-color: white;
    padding:10px;
    margin: 20px;
    height:20%;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 10px #8C8C8C;
}

.chat_input {
    width: 100%;
    position: relative;
    bottom:0;
    border:none;
}

.chat_header {
    width:100%;
    height:70px;
    background-color: #6E91F1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D6E4FF;
    font-size: 28px;
}

.chat_send {
    width:56px;
    height: 56px;
    border-radius: 8px;
    background-color: #6E91F1;
    color:white;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 10px #8C8C8C;
}

.chat_message {
    background-color: #6E91F1;
    border-radius: 20px;
    padding:15px;
    position: absolute;
    max-width: 75%;
    border-radius: 10px;
    color: white;
    font-size:16px;

    &_line {
        width:100%;
        min-height:50px;
        position: relative;
        margin-bottom: 15px;
    }

    &_seeker {
        right:20px;
        background-color: #FFFFFF;
        color: black;
    }

    &_helper {
        left:20px;
    }
}

.chat_talk_wrapper {
    height:80%;
    background-color: #D6E4FF;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

