.room_card {
    width:100%;
    background-color: #D6E4FF;
    box-shadow: 0px 2px 10px #5C5C5C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:100px;
    margin-bottom: 20px;
    flex-shrink: 0;

    &_item {
        background-color: white;
        color: #030303;
        border-radius: 45px;
        width:100px;
        display: flex;
        align-items: center;
        justify-content: center;
        height:60%;
    }

    &_item_text {
        background-color: white;
        color: #030303;
        border-radius: 45px;
        width:60%;
        display: flex;
        align-items: center;
        justify-content: center;
        height:60%;

    }
}